/*나눔고딕 불러오기 */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url("fonts/NanumGothic-Bold.eot");
    src: url("fonts/NanumGothic-Bold.eot?#iefix") format('embedded-opentype'),url(fonts/NanumGothic-Bold.woff) format('woff'),url(fonts/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/NanumGothic-Regular.eot");
    src: url("fonts/NanumGothic-Regular.eot?#iefix") format('embedded-opentype'),url(fonts/NanumGothic-Regular.woff) format('woff'),url(fonts/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 300;
    src: url("fonts/NanumGothic-Light.eot");
    src: url("fonts/NanumGothic-Light.eot?#iefix") format('embedded-opentype'),url(fonts/NanumGothic-Light.woff) format('woff'),url(fonts/NanumGothic-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url("fonts/NanumGothic-ExtraBold.eot");
    src: url("fonts/NanumGothic-ExtraBold.eot?#iefix") format('embedded-opentype'),url(fonts/NanumGothic-ExtraBold.woff) format('woff'),url(fonts/NanumGothic-ExtraBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(font/Material/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
		url(font/Material/MaterialIcons-Regular.woff2) format('woff2'),
		url(font/Material/MaterialIcons-Regular.woff) format('woff'),
		url(font/Material/MaterialIcons-Regular.ttf) format('truetype');
}

/* 구글 Materil Icon */
.material_icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	/* font-size: 24px; Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: top;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material_icons.px_13 { float: left; margin-right: 3px; font-size: 13px; }
.material_icons.px_14 { float: left; margin-right: 4px; font-size: 14px; }
.material_icons.px_18 { float: left; margin-right: 4px; font-size: 18px; }
.material_icons.px_20 { float: left; margin-right: 4px; font-size: 20px; }
.material_icons.px_22 { float: left; margin-right: 4px; font-size: 22px; }
.material_icons.px_24 { float: left; margin-right: 4px; font-size: 24px; }
.material_icons.px_36 { float: left; margin-right: 4px; font-size: 36px; }
.material_icons.px_48 { float: left; margin-right: 4px; font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material_icons.px_dark { color: rgba(0, 0, 0, 0.54); }
.material_icons.px_dark.px_inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material_icons.px_light { color: rgba(255, 255, 255, 1); }
.material_icons.px_light.px_inactive { color: rgba(255, 255, 255, 0.3); }
