@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');

/* CSS Document */
html,body{padding:0; margin:0;}


/* Default Setting */
html, body, div, input, label, select, textarea, button, h1, h2, h3, h4, h5, h6, strong, p, span, a, ul, li, dl, dt, dd, a, ::after, ::before { font-family: 'Noto Sans KR', 'Malgun Gothic', 'Dotum', sans-serif; font-size: 14px; color: #000; font-weight: normal; letter-spacing: -1px;}
*, ::before, ::after {margin: 0; padding: 0; box-sizing: border-box; letter-spacing: -1px;}
html, body {font-family: 'Noto Sans KR',  sans-serif; font-size: 14px; color: #000; font-weight: normal; letter-spacing: -1px;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, strong, address {display: block;}
ul, ol, li {list-style: none;}
a {display: inline-block; text-decoration: none; vertical-align: top;}
span {display: inline-block; vertical-align: top;}
img {max-width: 100%; border: 0; vertical-align: top;}
em, address {font-weight: normal; font-style: normal;}
hr {border: 0; margin: 30px 0; padding: 0; border-bottom: 1px solid #000;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ""; content: none;}
table {width: 100%; border-collapse: collapse; border-spacing: 0; table-layout: fixed; word-break: break-all;}
textarea {resize: none; outline: 0; vertical-align: top;}
button {display: inline-block; font-family: inherit; text-decoration: none; background: transparent; border: none; outline: 0; white-space: nowrap; vertical-align: top; cursor: pointer;}

@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700italic,700);

a{
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;
}
@media only screen and (min-width: 1100px){
.container{width:1100px; margin:0 auto; _overflow:hidden; }
header{
	position: fixed;
	width:100%;
	min-width:1100px;
	max-width:2000px;
	background:#191919;
	height:99px;
	left:0;
	right:0;
	top:0;
	margin:0 auto;
	z-index: 9;
}
header .logo{
	position:absolute;
	top:20px;
}
#content{
	position:relative;
	
}

#navigation-menu{
	float:right;
}

#navigation-menu ul{
	overflow: hidden;
	margin-top:40px;
	
}

#navigation-menu li{
	margin-left: 50px;
	float:left;
}

#navigation-menu a{
	color: #7a7a7a;
	display: block;
	font-size:18px;
}
#navigation-menu a {
    text-decoration: none;
    position: relative;
	height:26px;
}
#navigation-menu a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
	
}
#navigation-menu a:hover, #navigation-menu a.mPS2id-highlight{
	color: #fff;
	border-color: #ed3b4b	;
    border-width: 0 0 2px;
    border-style: solid;
}
	#right_nav{
		position:fixed;
		width:230px;
		top:380px;
		margin-left:1100px;
		background:url("../img/right_dot_bg.png") no-repeat right 0;
		z-index:99;
	}
	#right_nav a{
		color: #6d6d6d;
		display: block;
		font-size:18px;
		text-align:right;
		margin:1px 30px 15.5px 0;
		text-decoration: none;
		position: relative;
		height:26px;
	}
	#right_nav a:hover:after, #right_nav a.mPS2id-highlight:after{
		content: '';
		position: absolute;
		bottom: 0px;
		top:2px;
		width:13px;
		height:13px;
		margin-left:14px;
		background:#ff2d2d;
		-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	}
	#right_nav a:hover, #right_nav a.mPS2id-highlight{
		color: #ff2d2d;
		
	}

@media only screen and (min-width: 1340px){
	#right_nav{
		position:fixed;
		width:230px;
		top:380px;
		margin-left:1100px;
		background:url("../img/right_dot_bg.png") no-repeat right 0;
		z-index:99;
	}
	#right_nav a{
		color: #b8b8b8;
		display: block;
		font-size:18px;
		text-align:right;
		margin:1px 30px 15.5px 0;
		text-decoration: none;
		position: relative;
		height:26px;
	}
	#right_nav a:hover:after, #right_nav a.mPS2id-highlight:after{
		content: '';
		position: absolute;
		bottom: 0px;
		top:2px;
		width:13px;
		height:13px;
		margin-left:14px;
		background:#ff2d2d;
		-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	}
	#right_nav a:hover, #right_nav a.mPS2id-highlight{
		color: #ff2d2d;
		
	}
}
@media only screen and (max-width: 1340px){
	#right_nav{display:none;}
}
#content section{min-height: 600px;	color: #d9d6d5;}
#section-1{position:relative;	height:847px;	background:url("../img/page1_bg.jpg") no-repeat center 0; overflow: visible;  z-index: 9;}
#section-1 .page1_txt1{	padding-top:25px;text-align:center;}
#section-1 .page1_img1{padding-top:0px; margin-top:-55px;	text-align:center;}
#section-1 .page1_img2{position:absolute; margin:-390px 0 0 185px;}
#section-1 .page1_img3{position:absolute; margin:-390px 0 0 455px;}
#section-1 .page1_img4{position:absolute;	margin:-390px 0 0 713px;}

#section-2 .page2_txt1{padding-top:168px;text-align:center;}
#section-2 .page2_ul{font-size:0; text-align:center;}
#section-2 .page2_ul li{display:inline-block; margin:30px 10px 0 10px;}
#section-2 .page2_img3{	position:absolute; margin:-275px 0 0 527px;}
#section-2 .page2_txt2{padding-top:40px;	text-align:center;}

#section-2{position:relative;height:1090px;	background:url("../img/page2_bg.jpg") no-repeat center 0;}
#section-3 .page3_txt1{padding-top:50px;text-align:center;}
#section-3 .page3_img1{padding-top:40px;	text-align:center;}
#section-3 .page3_img2{padding-top:40px;	text-align:center;}
#section-3 .page3_img3{	position:absolute; margin:-270px 0 0 60px;}
#section-2 .page4_img1{padding-top:35px;	text-align:center;}
#section-2 .page4_txt1{padding-top:70px;	text-align:center;}
#section-2 .page4_txt2{padding-top:40px;	text-align:center;}
#section-2 .page5_txt1{padding-top:125px;	text-align:center;}
#section-2 .page5_txt2{padding-top:40px;	text-align:center;}
#section-2 .swiper-container{padding-top:30px !important; }
#section-2 .swiper-btn{position:absolute; width:875px; margin:-280px 0 0 110px;}
#section-2 .page5_img1{padding-top:25px;	text-align:center;}
#section-2 .page5_img3{padding-top:25px;	text-align:center;}
#section-2 .page5_img2{position:absolute; margin:-10px 0 0 215px;}

#section-3{position:relative; height:1165px; background:url("../img/page3_bg.png") no-repeat center 0;}
#section-3 .page6_img1{padding-top:50px;	text-align:center;}
#section-3 .page6_img2{padding-top:30px;	text-align:center;}
#section-3 .page6_img3{padding-top:10px;	text-align:center;}
#section-3 .page6_img4{padding-top:30px;	text-align:center;}

#section-4{position:relative; height:694px; background:url("../img/page4_bg.png") no-repeat center 0;}
#section-4 .page4_txt1{padding-top:70px;	text-align:center;}
#section-4 .page4_img1{margin:35px 0px 0 0; text-align:center;}
#section-4 .page7_img3{position:absolute; margin:40px 0px 0 380px;}
#section-4 .page7_img4{position:absolute; margin:40px 0px 0 575px;}
#section-4 .page7_img5{position:absolute; margin:40px 0px 0 775px;}
#section-4 .page7_img6{position:relative; text-align:center; margin-top:305px;}

#section-4 .page7_ul{font-size:0; text-align:center;}
#section-4 .page7_ul li{display:inline-block; margin:50px 3px 0 3px;}
#section-5{position:relative; height:866px; overflow-x:hidden; background:url("../img/page5_bg.png") no-repeat center 0;}
#section-5 .page5_txt1{padding-top:30px;	text-align:center;}
#section-5 .page5_logo{padding-top:40px;	text-align:center;}

.agree_p{padding-left:90px;}
.pay_search{padding-left:100px;}

.db_form{position:relative;  padding-top:38px;}

.form_agree{display:inline-block; margin-left:10px;}
.popup_ag1{position:absolute;  top:83px; margin-left:-115px; width:480px; height:270px; background:#fff; padding::10px;  z-index:99; border:1px solid #000; display:none;}
.popup_ag2{position:absolute;  top:83px; margin-left:-115px; width:480px; height:270px; background:#fff; padding::10px;  z-index:99; border:1px solid #000; display:none;}
.agpopup_close{position:absolute; margin-top: -70px; right:-1px;}
.long_text{width:100%; height:100%; border:0; padding:15px;}

.input_form {width:500px; margin-left:260px}
.input_form tr th{width:100px; text-align:right; font-size:20px; color:#fff; font-weight:500; vertical-align:middle; padding:0  10px  10px  0;   }
.input_form tr td{padding-bottom:10px;}
.input_form tr td .inputform {border:1px solid #000000; color:#d7d7d7; padding-left:10px;  font-size:20px; width:420px; height:60px; line-height:60px;}
.chkB {padding-bottom:10px; }
.chkB input[type="checkbox"] {width:16px; height:16px;}
/*
.chkB input[type="checkbox"] + label {background: url("../images/page3/icnChkOff.png") 0 50% no-repeat;}
.chkB input[type="checkbox"]:checked + label {background: url("../images/page3/icnChkOn.png") 0 50% no-repeat;}
*/
.chkB label{font-size: 14px; color:#fff; font-weight:400; padding-left:5px}
.chkB a{font-size: 14px; color:#fff;font-weight:500;}
.chkB span{font-size: 14px; color:#fff;font-weight:500; padding-left:3px}

.form_bottom{position:relative; height:135px; padding-top:55px; text-align:center; width:103%;}
.form_bottom li{display:inline-block; height:135px; width:369px; border-left:1px solid #fff; text-align:center;}
.form_bottom li:first-child{border-left:0px solid #fff}
.fb_title{ color:#ffffff; font-size:20px;  padding-top:20px;}
.fb_phone{ color:#ffffff; font-size:23px; font-weight:600;  padding-top:20px;}
.form_bottom li a{ color:#ffffff; font-size:23px; font-weight:600;  text-decoration: underline;}

#footer{position:relative;	left:0;
	right:0; margin:0 auto; height:113px;	max-width:2000px; background:#444444;}
#footer .foot_logo{position:absolute; padding-top:20px;}
#footer .copyright{text-align:right; font-size:14px; color:#838383; line-height:20px; font-weight:300; padding-top:20px; }
#footer .copyright p{ font-size:14px; color:#838383; line-height:20px; font-weight:300;  padding-top:10px;}
#content section:nth-child(3n+2){
}

#content section:nth-child(3n+3){
}

.content{
	padding: 1em 3em;
}

.content hr + a, .content hr + a + a{
	margin-right: 2em;
}

.mPS2id-target .content h2:first-child:after{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	content: "Current target class: mPS2id-target";
	margin-left: 1em;
	font-size: 0.25em;
	line-height: 1.4em;
	font-style: italic;
	opacity: 0.7;
	width: 180px;
	font-family: arial,sans-serif;
	font-weight: normal;
}

.ie8 .mPS2id-target .content h2:first-child:after{
	font-size: 0.95em;
}

header, .content, footer{
	padding-right: 150px;
}

.auto-layout .content{
	padding-left: 150px;
	padding-right: 3em;
}


.pc{display:block;}
.mobile{display:none;}
.swiper-container {
	width: 645px;
	height: 550px;
}	
	
}

@media only screen and (max-width: 1200px){

.container{width:640px; max-width:640px; margin:0 auto; _overflow:hidden; }
header{
	position: fixed;
	width:100%;
	_min-width:1100px;
	background:url("../img/top_bg.png") no-repeat center 0;
	height:99px;
	top:0;
	margin:0 auto;
	z-index: 9;
}
header .logo{
	position:absolute;
	top:10px;
}
#content{
	position:relative;
	
}

#navigation-menu{
	float:right;
	display:none;
}

#navigation-menu ul{
	overflow: hidden;
	margin-top:40px;
	
}

#navigation-menu li{
	margin-left: 50px;
	float:left;
}

#navigation-menu a{
	color: #7a7a7a;
	display: block;
	font-size:18px;
}
#navigation-menu a {
    text-decoration: none;
    position: relative;
	height:26px;
}
#navigation-menu a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
	
}
#navigation-menu a:hover, #navigation-menu a.mPS2id-highlight{
	color: #fff;
	border-color: #e6842c;
    border-width: 0 0 2px;
    border-style: solid;
}

@media only screen and (min-width: 1340px){
	#right_nav{
		position:fixed;
		width:230px;
		top:380px;
		margin-left:1100px;
		background:url("../img/right_dot_bg.png") no-repeat right 0;
		z-index:99;
	}
	#right_nav a{
		color: #b8b8b8;
		display: block;
		font-size:18px;
		text-align:right;
		margin:1px 30px 15.5px 0;
		text-decoration: none;
		position: relative;
		height:26px;
	}
	#right_nav a:hover:after, #right_nav a.mPS2id-highlight:after{
		content: '';
		position: absolute;
		bottom: 0px;
		top:2px;
		width:13px;
		height:13px;
		margin-left:14px;
		background:#ff2d2d;
		-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	}
	#right_nav a:hover, #right_nav a.mPS2id-highlight{
		color: #ff2d2d;
		
	}
}
@media only screen and (max-width: 1340px){
	#right_nav{display:none;}
}
#content section{min-height: 800px;	color: #d9d6d5;}
#section-1{position:relative;	height:1193px;	background:url("../img/m/page1_bg.png") no-repeat center 0; z-index:9;}
#section-1 .page1_txt1{	padding-top:40px;text-align:center;}
#section-1 .page1_img1{padding-top:130px;	text-align:center;}
#section-1 .page1_img2{position:absolute; margin:-420px 0 0 40px;}
#section-1 .page1_img3{position:absolute; margin:-590px 0 0 205px;}
#section-1 .page1_img4{position:absolute;	margin:-420px 0 0 370px;}
#section-2 .page2_txt1{padding-top:160px;text-align:center;}
#section-2 .page2_ul{font-size:0; text-align:center;}
#section-2 .page2_ul li{display:inline-block; margin:45px 0 0 0;}
#section-2 .page2_img3{display:none;	position:absolute; margin:-275px 0 0 527px;}
#section-2 .page2_txt2{padding-top:40px;	text-align:center;}

#section-2{position:relative;height:1282px;	background:url("../img/m/page2_bg.png") no-repeat center 0;}

#section-3{position:relative; height:2600px; background:url("../img/m/page3_bg.png") no-repeat center 0;}
#section-3 .page3_txt1{padding-top:50px;text-align:center;}
#section-3 .page3_txt2{padding-top:0px;text-align:center;}
#section-3 .page3_img1{padding-top:45px;	text-align:center;}
#section-3 .page3_img2{	position:absolute; margin:-360px 0 0 250px;}
#section-3 .page3_img3{	position:absolute; margin:-180px 0 0 60px;}
#section-4 .page4_img1{padding-top:35px;	text-align:center;}
#section-4 .page4_txt1{padding-top:70px;	text-align:center;}
#section-4 .page4_txt2{padding-top:40px;	text-align:center;}
#section-5 .page5_txt1{padding-top:25px;	text-align:center;}
#section-5 .page5_txt2{padding-top:40px;	text-align:center;}
#section-2 .swiper-container{padding-top:30px !important; }
#section-2 .swiper-btn{display:none; position:absolute; width:875px; margin:-280px 0 0 110px;}
#section-5 .page5_img1{padding-top:25px;	text-align:center;}
#section-5 .page5_img3{padding-top:35px;	text-align:center;}
#section-5 .page5_img2{position:absolute; margin:-10px 0 0 80px;}
#section-5 .page5_logo{padding-top:42px;	text-align:center;}

#section-3 .page6_img1{padding-top:50px;	text-align:center;}
#section-3 .page6_img2{padding-top:30px;	text-align:center;}
#section-3 .page6_img3{padding-top:10px;	text-align:center;}
#section-3 .page6_img4{padding-top:30px;	text-align:center;}

#section-4{position:relative; height:992px; _background:url("../img/m/page4_bg.png") no-repeat center 0;}
#section-4 .page7_img1{padding-top:70px;	text-align:center;}
#section-4 .page7_img2{position:absolute; margin:40px 0px 0 110px;}
#section-4 .page7_img3{position:absolute; margin:40px 0px 0 340px;}
#section-4 .page7_img4{position:absolute; margin:360px 0px 0 110px;}
#section-4 .page7_img5{position:absolute; margin:360px 0px 0 340px;}
#section-4 .page7_img6{position:relative; text-align:center; margin-top:655px;}

#section-4 .page7_ul{font-size:0; text-align:center; margin-top:45px;}
#section-4 .page7_ul li{display:inline-block; margin:15px 0 0 0;}
#section-5{position:relative; height:1033px; overflow-x:hidden; background:url("../img/m/page5_bg.png") no-repeat center 0;}
#section-5 .page8_img1{padding-top:50px;	text-align:center;}
.db_form{position:relative;  padding-top:38px;}

.agree_p{padding-left:80px;}
.pay_search{padding-left:20px; padding-top:20px;}
.pay_search input{    width: 548px !important}
.form_agree{display:inline-block; margin-left:10px;}
.popup_ag1{position:absolute;  top:83px; margin-left:-115px; width:480px; height:270px; background:#fff; padding::10px;  z-index:99; border:1px solid #000; display:none;}
.popup_ag2{position:absolute;  top:83px; margin-left:-115px; width:480px; height:270px; background:#fff; padding::10px;  z-index:99; border:1px solid #000; display:none;}
.agpopup_close{position:absolute; margin-top: -70px; right:-1px;}
.long_text{width:100%; height:100%; border:0; padding:15px;}

.input_form {_width:500px; margin-left:25px}
.input_form tr th{width:100px; text-align:right; font-size:20px; color:#fff; font-weight:500; vertical-align:middle; padding:0  10px  10px  0;   }
.input_form tr td{padding-bottom:10px;}
.input_form tr td .inputform {border:1px solid #000000; color:#d7d7d7; padding-left:10px;  font-size:20px; width:420px; height:80px; line-height:80px;}
.chkB {padding-bottom:10px; }
.chkB input[type="checkbox"] {width:16px; height:16px;}
/*
.chkB input[type="checkbox"] + label {background: url("../images/page3/icnChkOff.png") 0 50% no-repeat;}
.chkB input[type="checkbox"]:checked + label {background: url("../images/page3/icnChkOn.png") 0 50% no-repeat;}
*/
.chkB label{font-size: 16px; color:#fff; font-weight:400; padding-left:5px}
.chkB a{font-size: 16px; color:#fff;font-weight:500;}
.chkB span{font-size: 16px; color:#fff;font-weight:500; padding-left:3px}

.form_bottom{position:relative; _height:135px; padding-top:55px; text-align:center; width:103%;}
.form_bottom li{margin:0 auto; _display:inline-block; _height:135px; width:369px; padding-bottom:36px; border-bottom:1px solid #fff; text-align:center;}
.form_bottom li:first-child{border-left:0px solid #fff}
.fb_title{ color:#ffffff; font-size:20px;  padding-top:33px;}
.fb_phone{ color:#ffffff; font-size:23px; font-weight:600;  padding-top:20px;}
.form_bottom li a{ color:#ffffff; font-size:23px; font-weight:600;  text-decoration: underline;}

#footer{position:relative;	_height:113px;	max-width:640px; background:#444444; margin:0 auto 130px auto;}
#footer .foot_logo{text-align:center; padding-top:30px; }
#footer .copyright{text-align:center; font-size:16px; color:#838383; line-height:22px; font-weight:300; padding-top:20px;  padding-bottom:30px;}
#footer .copyright p{ font-size:16px; color:#838383; line-height:20px; font-weight:300;  padding-top:10px;}
#content section:nth-child(3n+2){
}

#content section:nth-child(3n+3){
}

.content{
	padding: 1em 3em;
}

.content hr + a, .content hr + a + a{
	margin-right: 2em;
}

.mPS2id-target .content h2:first-child:after{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	content: "Current target class: mPS2id-target";
	margin-left: 1em;
	font-size: 0.25em;
	line-height: 1.4em;
	font-style: italic;
	opacity: 0.7;
	width: 180px;
	font-family: arial,sans-serif;
	font-weight: normal;
}

.ie8 .mPS2id-target .content h2:first-child:after{
	font-size: 0.95em;
}

header, .content, footer{
	padding-right: 150px;
}

.auto-layout .content{
	padding-left: 150px;
	padding-right: 3em;
}

.pc{display:none;}
.mobile{display:block;}
.swiper-container {
	width: 560px;
	height: 475px;
}

#mobile_nav{
	position:fixed;
	width:640px;
	left:0;
	right:0;
	margin:0 auto;
	font-size:0;
	list-style:none;
	bottom:0;
	padding:0;
	z-index:999;
}
#mobile_nav li{
	float:left;
}

}