.holder {
	width:640px;
	
	margin: 40px 0 40px 185px;
}

.holder a {
	
	font-family:NGB;
	font-size: 28px;
	cursor: pointer;
	margin: 0 20px;
	color: #555555;
	font-weight: bold;
}

.holder a:hover {
	font-weight: bold;
	color: #030303;
}
.holder a.jp-previous { margin-right: 15px; text-indent:-99999px; display:inline-block; width:10px; height:13px; background:url("../js/work_open_prev.png") no-repeat; }
.holder a.jp-next { margin-left: 15px;  text-indent:-99999px; display:inline-block;  width:10px; height:13px; background:url("../js/work_open_next.png") no-repeat; }

.holder a.jp-current, a.jp-current:hover { 
	color: #030303;
	font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;

}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}

.holder span { margin: 0 5px; }